<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>moviewall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BEB38CA51D965DE200F7E728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEB38CBC1D965DE300F7E728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEB38CC71D965DE300F7E728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
